
:root{
    --primary: #2d88ff;
    --dark: #18191a;
--sime-dark:#242526;
--sof-dark:#3a3b3c;
--danger:#f02849;
--success:#45bd62;
--warning:#f7b928;
--text:#b7b9bd;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--text);
}

body{
    background-color:var(--dark) ;
}
.nav{
background-color: var(--sime-dark);
/* height: 60%; */
display: flex;
}
.left{
width: 25%;
}
.left-box{
    padding: 10px;
    display: flex;
}
.logo{
width: 40px;
margin-right: 10px;
}
.search-box{
    background-color: var(--sof-dark);
    border-radius: 100px;
    text-align: center;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
   


.search-box .feather-search{
margin-right: 10px;
}
.search-input{
    background-color: var(--sof-dark);
    color: var(--text);
    border: none;
    border-radius: 20%;
}
.search-input:focus{
    outline: none;
}
.center{
width: 50%;
}
.center-box{
display: flex;
justify-content: center;
}
.center-link{
display: flex;
width: 150px;
margin: 0 5px;
align-items: center;
justify-content: center;
padding: 14px;
border-top:5px solid var(--sime-dark); 
border-bottom: 5px solid var(--sime-dark); 
position: relative;
font-weight: 900;

}
.center-link:hover{
    background-color: var(--sof-dark);
    border-radius: 20px;
}
.center-link.active{
    border-bottom-color: var(--primary);
    
}
.center-link.active:hover{
    background-color: var(--sime-dark);
    border-radius: 0px;
}
.center-link.active .center-icon{
    color: var(--primary) !important;
}
.center-icon{
font-size: 30px;
}
.center-link .noti{
background-color: var(--danger);
font-size: 10px;
border-radius: 10px;
padding: 3px 5px;
position: absolute;
top: 10px;
right: 25px;
}
.right{
    width: 25%;
}
.right-box{
display: flex;
justify-content: flex-end;
}
.profile{
display: flex;
align-items: center;

border-radius: 15px;
margin:  10px;
padding: 5px 10px;
}
.profile:hover{
    background-color: var(--sof-dark);
   
}
.profile-photo{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 5px;
}
.right-notification-box{
    display: flex;
}
.right-notification{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sof-dark);
    border-radius: 50%;
    margin: 10px 5px;
}

/* fb-body */
.fb-body{
display: flex;
}

.news-feed{
width: 50%;
}
.news-feed:hover{
    overflow-y: scroll;
}
.my-day-list{
    margin-top: 20px;
 /* overflow-y: scroll; */
 position: absolute;
    display: flex;
}
.my-day-items{
 margin-right: 10px;
}
.my-day{
    width: 150px;
    height: 200px;
    overflow: hidden;
    background-size: 150%;
    border-radius: 10%;
    background-position: center;
    padding: 10px;
    z-index: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.my-day-owner{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
}
.my-day-owner-first{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: var(--primary); */
    background-color: var(--sime-dark);
}
.my-day-owner .feather-plus{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--sime-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.my-day-owner-image{
    width: 35px;
    height: 35px;
    background-size: 100%;
    background-position: center;
    border-radius: 50%;
}

.my-day-text{

bottom: 10px;
color: whitesmoke;
font-weight: bolder;
}

.my-day-image{
    width: 100%;
}
.scroll-my-day{
    width: 50px;
    height: 50px;
    background-color:var(--sime-dark);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -15px;
    top: 75px;
    z-index: 2;
}


.add-post{
   display: flex; 

}

.m-emoji{
   
    margin-top: 23%;
    border-radius: 30px;
    background-color: var(--sime-dark);
    width: 800px;
    height: 150px;
    display: flex;
}
.m-emoji img{
    margin-top: 5%;
    margin-left: 40px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.m-emoji input{
    background-color: var(--sof-dark);
    width: 600px;
    height: 50px;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 100px;
    text-decoration: underline;
    text-align: left;
    font-size: medium;
    border: none;
}
.vedio {
    margin-top: 5%;
    padding-left: 10px;
    position: absolute;
    
}
.vedio i{
    margin: 0 90px;
    
}

.vedio hr{
    margin-bottom: 12px;
    margin-top: 10px;
}

.post-list{
    margin-top: 1%;
    border-radius: 30px;
    background-color: var(--sime-dark);
    width: 800px;
    height: 900px;
    display: flex;
    
}
.fri-post{
    display: flex;
}
.fri-post img{
    width: 50px;
    height: 50px;
    /* margin: 10px; */
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 50%;
}
.fri-post h4{
    margin-top: 20%;
    margin-left: 13;
    margin-left: 13%;
}
.fri-post h6{
    position: absolute;
    margin-top: 2.5%;
    margin-left: 4%;
}
.par{
    position: absolute;
    margin-top: 5%;
    margin-left: 3%;
    /* border: 1px solid white; */
}
.vedio2{
    margin-top: 40%;
    position: absolute;
    margin-left: 71px;
    font-size: x-large;
    width: 131px;
}
.vedio2 i{
    padding-left: 0px;
    width: 100px;
    height: 100px;
}


.chat-box{
width: 25%;
}
.left-aside{
   
    margin: 0 1%;
    width: 25%;
    font-size: x-large;
    font-weight: bold;
    
    }
    .left-aside:hover{
        overflow-y: scroll;
      
    }
.l-a{
    padding: 10px;
    display: inline-block;
   
}
.l-ablock{
    display: flex;
    padding-bottom: 36px;
    
}
.l-ablock i{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color: blue;
    font-size: larger;

}
.l-a p{
    padding-left: 10px;
    margin-top: 20px;
}
.l-aimg{
   width: 60px;
   height: 60px;
   display: flex;
   justify-content: center;
   text-align: center;
}

.l-s{
    display: flex;
    padding: 10px;
   }
   .l-s h3{
       margin-top: 3%;
       margin-left: 3%;
   }
.l-s p{
    margin-top: 3%;
    margin-left: 114px;
}
.l-s p:hover{
color: blue;
}

.l-sblock{
    margin-top: 3%;
    display: flex;
    padding-bottom: 50px;
    padding-left: 10px;
    
    
    
    }
    .l-sblock i{
        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 40px;
        border-radius: 10%;
    }
    
    
    .l-sblock p{
        padding-left: 20px;
    }
    .l-simg{
        width: 53px;
    height: 62px;
    border-radius: 10%;
    }
    .loading{
        margin: 3% 40%;;
        width: 100px;
        height: 100px;
    font-size: 2rem;
    }
    .conection{
        display: flex;
    }
    .conection p{
        font-size: 22px;
    font-weight: bold;
    margin-left: 2%;
    }
    .conection i{
        font-size: x-large;
    padding-left: 6%;
    color: blue;
    }
    .active{
        margin-top: 3%;
    display: flex;
    padding-bottom: 50px;
    }
    .active p{
        padding-left: 20px;
        font-size: x-large;
        font-weight: lighter;
    }
.active img{
    width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: lightskyblue;
}